:host {
  margin-bottom: 20px;
}

.filter-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;

  background-color: hsl(0, 0%, 21%);

  border-top: 3px solid hsl(0, 0%, 40%);

  color: #fff;

  padding: 10px 20px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input {
  background-color: hsl(0, 0%, 21%);
  color: white;

  width: 100%;

  font-size: 1rem;
  font-family: inherit;

  padding: 10px;
  border: none;
}

input:focus {
  outline: none;
}

button {
  padding: 10px;
  background-color: hsl(0, 0%, 21%);
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  font-family: inherit;

  transition: all 0.4s ease;

  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
  transform: scale(0.9);
}
