li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: left;
  padding: 20px;

  position: relative;

  border-bottom: 3px solid white;

  transition: all 0.6s ease;
}

.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-priority {
  position: absolute;
  right: 5px;
  top: 5px;

  font-size: 1rem;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 10px;

  text-transform: uppercase;
}

.todo-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: flex-start;
}

.todo-info-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

button {
  padding: 10px;
  background-color: hsl(0, 0%, 21%);
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-family: inherit;

  transition: all 0.4s ease;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
  transform: scale(0.9);
}
