<form #todosForm="ngForm" class="todos-form" (submit)="onSubmit(todosForm)">
    <div class="form-control">
        <label for="name">Name</label>
        <input [(ngModel)]="todo.name" type="text" name="name" required>
    </div>
    <div class="form-control">
        <label for="description">Description</label>
        <input [(ngModel)]="todo.description" type="text" name="description">
    </div>
    <div class="form-control">
        <label for="priority">Priority</label>
        <select [(ngModel)]="todo.priority" name="priority" required>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
    </div>
    <button type="submit">Submit</button>
</form>


<div>
    <p>{{todo.name}}</p>
    <p>{{todo.description}}</p>
    <p>{{todo.priority}}</p>
</div>